.mainwrapper
  .mainheader
    .groupinfo
      .groupinfo__show
        .groupinfo__show--groupname チーム1 
        %ul.groupinfo__show--groupmember 
          Member：
          %li.groupinfo__show--groupmember__name
            koyo
          %li.groupinfo__show--groupmember__name
            fujise
      .groupinfo__groupedit 
        %p Edit
  .maincontents
    .message
      .message__title
        .message__title--name
          koyo
        .message__title--date
          2020/02/16(Wed)18:30:21
      .message__text
        こんにちは
    .message
      .message__title
        .message__title--name
          koyo
        .message__title--date
          2020/02/16(Wed)18:30:21
      .message__text
        こんにちは
  .mainbottom
    %form.messagebox
      .messageform
        %input.messageform__text{:name => "text", :placeholder => "type a message", :type => "text"}/
        %label{class: "messageform__file"}
          = icon('fa', 'image', class:"messageform__file--icon")
          %input.messageform__file--image{:type => "file"}/
      %input.messagesubmit{:name => "commit", :type => "sbumit", :value => "Send"}/