.mainwrapper
  .mainheader
    .groupinfo
      .groupinfo__show
        .groupinfo__show--groupname チーム1 
        %ul.groupinfo__show--groupmember 
          Member：
          %li.groupinfo__show--groupmember__name
            koyo
          %li.groupinfo__show--groupmember__name
            fujise
      .groupinfo__groupedit 
        %p Edit
  .maincontents
  .mainbottom