.sidewrapper
  .sideheader
    .menubox
      .menubox__username koyo 
      .menubox__icons
        = link_to "#", class:"menubox__icons" do
          = icon('far', 'edit', class:"menubox__icons--creategroup")
        = link_to "#", class:"menubox__icons" do
          = icon('fas', 'cog', class:"menubox__icons--setting")
  .sidecontents
    .grouplists
      .grouplists__list
        %p.grouplists__list--groupname チーム1
        %p.grouplists__list--latestmessage  こんにちは
      .grouplists__list
        .grouplists__list--groupname チーム1
        .grouplists__list--latestmessage  こんにちは
